.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* margin: 10px; */
    width: 30px;
    height: 30px;
}